body {
    background-color: lightgrey;
}

header a {
    text-decoration: none;
    color: inherit;
}

header {
    background-color: darkseagreen;
    color: whitesmoke;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
    padding: 24px 0;
    text-align: center;
}

header h1 {
    font-size: 30px;
    margin: 0;


}

nav {
    background-color: rgb(248, 190, 151);
    padding: 16px;
    text-align: center;
}

nav a {
    text-decoration: none;
    margin: 0, 20px;
    color: azure;
    font-weight: 600;
    font-size: 18px;
    letter-spacing: 0.6px;
}

nav a:hover {
    color: cyan;
    text-decoration: underline;
}

section {
    background-color: rgb(209, 211, 213);
    border-radius: 9px;
    margin: 30px auto;

}
/* spacing between text & images */
p {
    background-color: #f4f4f4;
    padding: 15px;
    border: 1px solid #cccccc;
    margin-bottom: 30px;
}
/* targeting images only */
.image grid {
    grid-template-columns: repeat(3,1fr); 
    gap: 15px;

}
/* targeting the images themselves*/

form input,
formtextarea,
form button {
    width: 100%;
    padding: 13px;
    margin-bottom: 18px;
    font-size: 16px;
    border: 1px solid #dddddd;
    border-radius: 9px;

}

form input focus,
form textarea:focus {
    background-color: gold;
    font-size: 19px;
    font-weight: 600;
    border: none;

}

form button {
    background-color: gold;
    color: whitesmoke;
    font-size: 19px;
    font-weight: 600;
    border: none;
    cursor: pointer;
}